@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
   transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    flex-wrap: wrap;
    position: fixed;
    background-color: black;
    justify-content: left;
    z-index: 4;
}

img {
    height: 100%;
    width: 100%;
}

#logo-borderlands{
    width: 50vw;
    height: 10vh;
}

#logo-borderlands img{
    flex-wrap: wrap;
    padding-left: 50px;
    width: 20%;
    height: 100%;
    image-resolution: normal;
}

#officiel{
    flex-wrap: wrap;
    width: 30%;
    align-self: center;
    justify-self: right;
}

#officiel h2{
    color: #ffcc00;
    padding-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Bell MT";
    letter-spacing: 0.2px;
    font-weight:900;
    justify-self: right;
}


#officiel h2 a {
    text-decoration: none;
    color: #ffcc00;
    transition: color 0.3s ease-in-out;
    justify-self: right;
}

#officiel h2 a:hover{
    color: white;
}



#first-section {
    padding-top: 5%;
    flex-wrap: wrap;
    height: 100vh;
    background: url("img/Borderlands-full.avif");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}


#quelquechose {
    height: 87%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.lilith-pic {
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
    clip-path: polygon(44% 0, 85% 0, 56% 100%, 9% 100%);
    grid-column: 7/9;
    grid-row: 1;
    z-index: 0;
}

.beaujack-pic {
    justify-self: center;
    align-self: center;
    width: 150%;
    height: 90%;
    clip-path: circle(31.8% at 50% 50%);
    grid-column: 1;
    grid-row: 6;
    z-index: 1;
}

.zero-pic {
    justify-self: center;
    width: 95%;
    height: 50%;
    clip-path: polygon(27% 0, 60% 0, 94% 81%, 61% 81%);
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

@media screen and (width < 1000px) {

    .zero-pic{
        display: none;
    }
    .beaujack-pic{
        display: none;
    }
    .lilith-pic{
        display: none;
    }
}

@media screen and (width < 500px) {
   .pres-text{
       font-size: 3em;
   }
}



.pres-text {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    color: #d1ba27;
    grid-column: 4/6;
    grid-row: 6;
    padding-top: 50%;
    font-family: "Bell MT";
    letter-spacing: 0.2px;
    font-weight:900;
    text-transform: uppercase;
    font-size: 1em;
}


#band {
    flex-wrap: wrap;
    height: 3%;
}

#second-section{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#vid-container-weapon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}


#vid-container-weapon video {
    width: 80%;
    max-width: 80%;
    max-height: 100%;
    height: 100%;
    object-fit: contain;
    image-resolution: normal;
}

#weapon-text {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: #d1ba27;
    font-family: "Bell MT";
    letter-spacing: 0.2px;
    font-weight:900;
    text-transform: uppercase;
    font-size: 1.5em;
}

#teleport-1 {
    justify-self: center;
    align-self: center;
    color: #ffcc00;
    padding-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Bell MT";
    letter-spacing: 0.2px;
    font-weight:900;
}

#teleport-1 h2 a{
    text-decoration: none;
    color: #ffcc00;
    transition: color 0.3s ease-in-out;
}

#teleport-1 h2 a:hover{
    color: white;
}

#teleport-1 h2 span{
    font-size: 1.2em;
}

#teleport-2 {
    justify-self: center;
    align-self: center;
    color: #ffcc00;
    padding-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Bell MT";
    letter-spacing: 0.2px;
    font-weight:900;
}

#teleport-2 h2 a{
    text-decoration: none;
    color: #ffcc00;
    transition: color 0.3s ease-in-out;
}

#teleport-2 h2 a:hover{
    color: white;
}

#teleport-2 h2 span{
    font-size: 1.2em;
}

#second-band {
    flex-wrap: wrap;
    height: 3%;
}


#third-section {
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
}

#third-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit:cover;
}


#third-band {
    flex-wrap: wrap;
    height: 3%;
}

.text-borderlands {
    position: absolute;
    top: 50px; /* Ajustez la position verticale comme nécessaire */
    right: 50px; /* Ajustez la position horizontale comme nécessaire */
    color: #ffcc00; /* La couleur du texte */
    font-family: 'Bungee', cursive; /* La police d'affichage épaisse */
    font-size: 2em; /* Ajustez la taille de la police comme nécessaire */
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre de texte pour améliorer la lisibilité */
    max-width: 600px; /* Ajustez selon la largeur de votre texte */
    line-height: 1.2; /* Ajustez l'espacement des lignes si nécessaire */
    padding-right: 20%;
    z-index: 0;
}

.story-text {
    color: #ffffff; /* La couleur du texte */
    font-family: 'Bungee', cursive; /* Choisissez une police appropriée */
    font-size: 0.5em; /* Ajustez la taille de la police comme nécessaire */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre de texte pour améliorer la lisibilité */
    margin: 20px auto; /* Centrer le texte horizontalement et ajouter un peu d'espace en haut et en bas */
    line-height: 1.4; /* Ajustez l'espacement des lignes si nécessaire */
    position: absolute;
    right: 50px; /* Position à partir du côté droit de la section */
    z-index: 10;
    font-family: 'Bungee', cursive;
    font-weight: 100;
}
