* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #191c29;
}

#band-first {
    position: fixed;
    top: 0;
    height: 3vh;
    width: 100%;
    margin-top: 10vh;
}
section {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}
.card {
    width: 225px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 2500px;
    margin: 0 20px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
            to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%
    );
}
.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
            to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%
    );
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}
.title {
    width: 100%;
    transition: transform 0.5s;
}
.card:hover .title {
    transform: translate3d(0%, -50px, 100px);
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.character_tina {
    width: 60%;
    height: 80%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.character_zero {
    width: 80%;
    height: 90%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}
.character_lilith {
    width: 150%;
    height: 90%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.card:hover .character_tina {
    transform: translate3d(0%, -30%, 100px);
    opacity: 1;
}

.card:hover .character_zero {
    transform: translate3d(0%, -30%, 100px);
    opacity: 1;
}
.card:hover .character_lilith {
    transform: translate3d(0%, -30%, 100px);
    opacity: 1;
}

#band-last {
    position: absolute;
    bottom: 0;
    left:0;
    height: 3vh; /* Ajustez la hauteur si nécessaire */
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    top: 0;
    left: 0;
    padding-right:5%;
}

/* Menu burger valouz*/

.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    z-index: 5;
}

.burger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s linear;
}

/* Animation des barres du burger pour indiquer l'ouverture/fermeture */
#burger-toggle:checked + .burger-icon span:nth-of-type(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#burger-toggle:checked + .burger-icon span:nth-of-type(2) {
    opacity: 0;
}

#burger-toggle:checked + .burger-icon span:nth-of-type(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger-nav {
    position: fixed;
    top: 0;
    right: -50vw;
    width: 50vw;
    height: 100vh;
    background: linear-gradient(to left,black, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), #ffcc00);
    transition: right 0.3s ease;
    clip-path: polygon(49% 0, 100% 0%, 100% 100%, 67% 100%, 24% 51%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.burger-nav ul {
    list-style: none;
}

.burger-nav ul li a {
    color: #ffcc00;
    text-transform: uppercase;
    font-family: "Bell MT", serif;
    letter-spacing: 0.2px;
    font-weight: 900;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    padding-left: 200px;
    display: block;
    text-align: center;
}

.burger-nav ul li a:hover {
    color: white;
}

/* Déplacer le menu à l'écran lorsque la case est cochée */
#burger-toggle:checked ~ .burger-nav {
    right: 0; /* Fait apparaître le menu */
    clip-path: polygon(49% 0, 100% 0%, 100% 100%, 67% 100%, 24% 51%);

}

@media (max-width: 768px) {
    .burger-icon {
        display: flex;
    }
}

.burger-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Fin menu burgouz */

#logo-borderlands{
    width: 40%;
    height: 10vh;
}

#logo-borderlands img{
    flex-wrap: wrap;
    padding-left: 50px;
    width: 40%;
    height: 100%;
    image-resolution: normal;
    object-fit: contain;
}

.new-image {
    width: 100%; /* ou la taille que vous désirez */
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    bottom: 30%; /* Ajustez en fonction de la taille de l'image */
    z-index: -2;
}

.card:hover .new-image {
    opacity: 1;
    bottom: -35%; /* Ajustez pour obtenir l'effet désiré */
}